html {
  /* background: url(../img/wave.jpg) no-repeat center center fixed; */
  background: #fff;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  background: none;
  font-family: trebuchet ms, arial, helvetica, sans-serif;
}

img {
  border: 0 none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

#logbooks {
  display: none;
  width: 20px;
  height: 20px;
}

.mobile_wrapper {
  width: 99%;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  top: 0px;
  border-radius: 0;
  height: auto;
  overflow: hidden;
  padding: 0x;
}

.paintable {
  height: 460px;
}

.paint {
  max-height: 460px;
}

.mobile_wrapper_selected {
  /*border-top: 12px solid #FFD3E8;
	border-bottom: 4px solid #FFD3E8;*/
  width: 460px;
}

.mobile_selected {
  border: 4px solid #ffD3e8;
}

.mobile_page_wrapper {
  width: 99%;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  border: 1px solid black;
  top: 15px;
  /*border-radius: 5px 20px 0 0;*/
}

#mobile_header {
  width: 460px;
  margin: 0 auto;
  padding: 0;
  border-radius: 0;
  background: none;
  height: 80px;
  position: relative;
  top: 0px;
}

#cerebrit_mobile_header {
  position: relative;
  top: 3px;
  left: 5px;
  height: 50px;
  width: 50px;
}

#cerebrit_header_link {
  left: 0;
  position: absolute;
  text-align: left;
  top: 0;
}

#mobile_page_title {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #353535;
  /* border-radius: 5px 5px 5px 5px; */
  color: white;
  height: 46px;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 230px;
}

#mobile_page_title_link {
  font-size: 40px;
  text-decoration: none;
  font-family: Megrim;
  color: black;
  position: relative;
  top: 0px;
}

#mobile_page_title a:hover {
  text-decoration: underline;
}

#account {
  left: 240px;
  border: 1px solid #353535;
  height: 46px;
  width: 120px;
  position: relative;
  top: -67px;
  right: 25px;
}

#sign_in_username_label {
  display: none;
}

#sign_in_password_label {
  display: none;
}

#sign_in_username {
  position: absolute;
  left: 8px;
  top: 5px;
}

#username {
  font-size: 10px;
  width: 45px;
  padding: 0px;
}

#sign_in_password {
  position: absolute;
  left: 65px;
  top: 5px;
}

#password {
  font-size: 10px;
  width: 45px;
  padding: 0px;
}

#sign_in_submit_div {
  position: absolute;
  left: 5px;
  top: 23px;
}

#sign_in_submit {
  font-size: 10px;
  padding: 0;
}

#sign_in_buttons {
  position: absolute;
  left: 0px;
  top: 25px;
}

#register {
  font-size: 10px;
  color: green;
  margin: 0 0 0 5px;
  text-decoration: none;
  left: 65px;
  top: 25px;
}

#f_password {
  font-size: 10px;
  position: relative;
  left: 13px;
  text-decoration: none;
  color: brown;
  display: none;
}

#verify {
  width: 105px;
  height: 36px;
  border: none;
  position: relative;
  left: 2px;
  top: 2px;
  font-size: 10px;
  padding: 0;
}

#verify_link_label {
  font-size: 10px;
  position: relative;
  top: 10px;
  left: 5px;
}

#verify_email_label {
  display: none;
}

#verify_email {
  display: none;
}

#verify_send {
  display: none;
}

#user_info_user_name {
  width: 100px;
  top: 0px;
  overflow: hidden;
  font-size: 11px;
}

#user_logged_in_user_name {
  display: none;
}

#logged_in_icon_image {
  display: none;
}

#cerebrit_login_icon {
  display: none;
}

#login_label {
  left: 5px;
  top: 5px;
  font-size: 5px;
}

#user_info_back {
  display: none;
}

#home_title {
  border: 1px solid black;
  /*border-radius: 5px;*/
  top: 3px;
  box-shadow: none;
  left: 388px;
  width: 70px;
  height: 46px;
  position: relative;
  right: 10px;
}

#error {
  left: -20px;
  top: 45px;
}

#welcome {
  top: 5px;
  left: 5px;
  position: absolute;
  font-size: 12px;
  color: green;
}

#logout {
  font-size: 10px;
  position: absolute;
  left: 65px;
  top: 25px;
  padding: 0;
}

#update_account {
  font-size: 10px;
  position: absolute;
  left: 0px;
  top: 25px;
  padding: 0;
}

#profile_pic {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  top: 3px;
  left: 80px;
  background: black;
}

#email_label {
  font-size: 10px;
  font-weight: bolder;
  position: absolute;
  top: 5px;
  left: 5px;
}

#pass_label {
  font-size: 10px;
  font-weight: bolder;
  position: absolute;
  top: 50px;
  left: 10px;
  display: none;
}

#email_change {
  font-size: 10px;
  width: 50px;
  padding: 0px;
  position: absolute;
  top: 5px;
  left: 40px;
}

#password_change {
  font-size: 10px;
  width: 50px;
  padding: 0px;
  position: absolute;
  top: 25px;
  left: 5px
}

#user_update_submit {
  font-size: 10px;
  padding: 0;
  position: absolute;
  left: 65px;
  top: 25px;
}

#user_update_back {
  font-size: 10px;
  position: absolute;
  left: 95px;
  top: 5px;
}

#catnav {
  margin: 0;
  padding: 0;
  clear: both;
  height: 20px;
  width: 460px;
  position: relative;
  top: 55px;
  background: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#nav {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Megrim;
  text-shadow: none;
  text-decoration: none;
  left: 0;
  height: 20px;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav li {
  float: left;
  margin: 0;
  padding: 0;
}

#nav a {
  display: block;
  line-height: 20px;
  margin: 0;
  padding: 0 5px 0 5px;
  font-size: 8pt;
  color: #000;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: none;
}

#nav li a:hover {
  color: #6598b8;
  text-decoration: none;
  display: block;
}

#top_nav {
  border: none;
  width: 340px;
  position: relative;
  top: 6 px;
  left: 10px;
  height: 30px;
  border-radius: 10px 10px 10px 10px;
  margin: 0;
  /*background: url("../img/1337.png") repeat scroll 0 0 transparent;	*/
  background: #000;
}

#top_nav_element1 {
  display: none;
}

#top_nav_divider {
  display: none;
}

#top_nav_element2 {
  line-height: 20px;
  font-size: 8pt;
  height: 20px;
  width: 100%;
  margin: 0;
  color: black;
  text-align: left;
  text-shadow: none;
  letter-spacing: 1px;
  font-family: trebuchet ms, arial, helvetica, sans-serif;
}

#mobile_container {
  margin: 0 auto;
  padding: 0;
  border-radius: 0;
  height: auto;
  position: relative;
  overflow: hidden;
}

#mobile_page {
  margin: 0;
  padding: 0;
  width: 460px;
  height: auto;
  box-shadow: none;
  top: 0;
  border-radius: 0;
  border-color: #8B89FF;
  background: url(/img/1337.png);
  background: #fff;
  position: relative;
  z-index: 2;
  text-align: center;
}

.tile_wrapper {
  width: 460px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: auto;
}

.tile {
  width: 460px;
  height: 460px;
}

.mobile {
  font-size: 10px;
  border: 0 none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  position: relative;
  top: 0;
  left: 0;
}

._wPaint_menu {
  position: absolute;
  top: 5px;
  left: 25px;
}

#mobile_controls {
  height: 80px;
}

#mobile_post {
  font-size: 18px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#mobile_paint {
  font-size: 18px;
  position: absolute;
  left: 80px;
  top: 0px;
}

#mobile_user {
  font-size: 18px;
  position: absolute;
  left: 170px;
  top: 5px;
}

#mobile_login_submit {
  position: absolute;
  left: 390px;
  font-size: 18px;
}

#mobile_gravatar_pic {
  position: absolute;
  left: 355px;
  top: 2px;
  width: 30px;
  height: 30px;
}

#mobile_logbooks_overview {
  position: absolute;
  top: 40px;
  width: 200px;
  left: 10px;
}

#mobile_articles_overview {
  position: absolute;
  left: 200px;
  top: 5px;
  width: 200px;
}

#navigation_container {
  background: #fff;
}

.navigation_container {
  display: none;
}

.navigation_container_selected {
  display: block;
  border-bottom: 4px solid #FFD3E8;
  padding: 10px 0 10px 0;
}

#navigation_container2 {
  background: #fff;
}

#navigation_container3 {
  background: #fff;
}

.navigation {
  background: #FFF58C;
  height: auto;
  font-size: 9pt;
  font-weight: bold;
  margin: 0 0 0 0;
  border-bottom: 1px solid black;
}

.navigation2 {
  position: relative;
  background: #F5AAFF;
  height: 280px;
  font-size: 9pt;
  font-weight: bold;
  margin: 0 0 0 0;
  border-bottom: none;
  text-align: left;
  border-radius: 0 0 0 0;
}

.navigation3 {
  position: relative;
  background: #FFE5A0;
  height: 85px;
  font-size: 9pt;
  font-weight: bold;
  margin: 0 0 0 0;
  border-bottom: none;
  text-align: left;
  border-radius: 0 0 0 0;
}

.navigation4 {
  height: 45px;
}

.navigation5 {
  border-bottom: 1px solid black;
  height: 50px;
}

.navigation8 {
  height: 100px;
}

#page_name {
  margin: 2px 0 0 5px;
  font-size: 8pt;
  letter-spacing: 1px;
  font-weight: bold;
}

#nav label {
  margin: 0;
  padding: 0;
  font-size: 8px;
}

#page_name_input {
  font-size: 8px;
  width: 90px;
}

#new_paint {
  position: absolute;
  left: 15px;
  font-size: 18px;
  top: 10px;
}

#not_logged_in {
  position: absolute;
  left: 200px;
  top: 15px;
}

#new_post_content {
  position: relative;
  left: 5px;
  top: -48px;
  height: 40px;
  width: 380px;
  font-weight: normal;
}

#new_post_button {
  position: absolute;
  left: 400px;
  top: 45px;
}

#clear_canvas {
  position: absolute;
  left: 20px;
  top: 45px;
}

.canvas_button {
  position: absolute;
  top: 10px;
  left: 410px;
}

#image_preview {
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 9px;
  font-weight: normal;
}

#new_post_title {
  position: relative;
  left: 85px;
  top: 5px;
  margin: 0;
  width: 290px;
  height: 65px;
  font-weight: normal;
}

#3d_background {
  width: 100px;
  height: 100px;
}

#parse_url {
  position: relative;
  left: 5px;
  top: 5px;
  margin: 0 0 5px 0;
  width: 300px;
  font-weight: normal;
}

#parse_button {
  position: absolute;
  top: 55px;
  left: 390px;
}

#new_post_title_label {
  position: absolute;
  left: 315px;
  top: -20px;
  margin: 0 0 5px 0;
  width: 45px;
  font-weight: bold;
}

#new_post_gravatar {
  position: absolute;
  left: 20px;
  top: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: none;
}

#mobile_3D {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 40px;
  height: 20px;
  text-align: center;
}

#new_comment {
  position: absolute;
  left: 360px;
}

#image_path {
  font-size: 8pt;
  left: 5px;
  position: absolute;
  top: 4px;
  width: 190px;
  text-align: left;
}

#imagepath {
  font-size: 10px;
  width: 190px;
  color: #000;
  height: 20px;
}

#image_name {
  font-size: 8pt;
  left: 205px;
  position: absolute;
  top: 4px;
  width: 130px;
  text-align: left;
}

#image_fit {
  font-size: 8pt;
  left: 350px;
  position: absolute;
  top: 4px;
  width: 40px;
  text-align: left;
}

#imagefit {}

#imagename {
  font-size: 10px;
  width: 130px;
  color: #000;
  height: 20px;
}

#upload_image_button {
  font-size: 9pt;
  left: 385px;
  position: absolute;
  top: 15px;
  padding: 0;
}

#upload_image_controls {
  position: relative;
  top: 0px;
  height: 50px;
  left: 0px;
  width: 460px;
  background: #BACAFF;
}

.msg_success {
  position: relative;
  top: 0px;
  margin: 0 auto;
  color: #34AF2B;
  font-size: 15pt;
  width: 460px;
  text-align: center;
}

.social_media {
  display: none;
  top: 0px;
  height: auto;
  padding: 10px 0 10px 0;
  font-size: 11px;
}

.social_media_selected {
  display: block;
}

#article_list_container {
  width: 140px;
  position: absolute;
  left: 315px;
  font-size: 8pt;
  height: 20px;
}

#article_list {
  height: 20px;
}

#save_mobile_paint_button {
  position: absolute;
  left: 15px;
  font-size: 18px;
  top: 10px;
}

#cancel_mobile_paint_button {
  position: absolute;
  left: 100px;
  font-size: 18px;
  top: 10px;
}

.mobile_footer {
  /*background: url("../naj.js/images/bg.gif") #000;*/
  background: #000;
  height: 50px;
  padding: 5px 0;
  color: white;
  border-radius: 0 0 20px 20px;
  width: 460px;
  margin: 0 auto;
  position: relative;
  top: 15px;
  font-size: 11px;
  font-weight: bold;
  border: 1px solid black;
}

.comment_text {
  display: block;
}

#comment_list {
  background: #fffe9c;
}

#comment_list li {
  background: #fffe9c;
}

#facebook_sign_in {
  display: none;
}

#edit_icon {
  position: relative;
  top: 10px;
  left: 5px;
}

#facebook_login_icon {
  position: relative;
  top: 25px;
  left: 60px;
}

.comment_time {
  margin: 0;
}

#new_post_form {
  margin: 0;
  padding: 0;
}

.post_error {}

.page_load {
  background: #fff;
  height: 0px;
  margin: 0 auto;
  width: 460px;
  overflow: hidden;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  position: relative;
  top: 15px;
}

.page_load_wrapper {
  background: #fff;
  position: relative;
  top: 15px;
  margin: 0 auto;
  width: 460px;
  height: auto;
  border: 1px solid black;
}

#footer_msg {
  position: relative;
  top: 15px;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

#load_more_link_container {
  /*border: 1px solid #C26BC4; */
  background: #5973C6;
}

#load_more_link {
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #C26BC4;
}

#load_more_link:visited {
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #C26BC4;
}

#go_back_link_container {
  border: 1px solid #3CADB7;
}

#go_back_link {
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #3CADB7;
}

#go_back_link:visited {
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #3CADB7;
}

#back_to_top_link_container {
  /* border: 1px solid #F2EB32; */
  background: #1CBF32;
}

#back_to_top_link {
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #F2EB32;
}

#back_to_top_link:visited {
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #F2EB32;
}

.mobile_user_feed_link {
  font-size: 12px;
  color: #55DD40
}

.mobile_user_feed_link:visited {
  color: #55DD40
}

#mobile_add_link {
  font-size: 12px;
  text-align: left;
  color: #ff7d7d;
}

#mobile_most_link {
  font-size: 12px;
  text-align: left;
  color: #6bca69;
}

#mobile_feed_link {
  font-size: 12px;
  text-align: left;
  color: #3FB4BF;
}

#mobile_reset_link {
  font-size: 12px;
  text-align: left;
  color: #9F65BF;
}

.article_link {
  font-size: 12px;
  text-align: center;
  color: #000;
}

#wiki_select_option {
  color: #DBA04E;
  text-align: left;
}

.mobile_controls_paint_over {
  margin: 5px 0 0 0;
  font-size: 20px;
}

.mobile_controls_clear {
  margin: 5px 0 0 40px;
  font-size: 20px;
}

.mobile_controls_delete {
  margin: 5px 0 0 40px;
  font-size: 20px;
}

.composite {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  display: block;
  background: none;
}

.composite .paint {
  margin: 0px;
}

#res_path_label {
  position: absolute;
  top: 5px;
  left: 340px;
}

#res_path {
  position: absolute;
  top: 5px;
  left: 315px;
}

#res_text_label {
  position: absolute;
  top: 60px;
  left: 270px;
}

#res_text {
  position: absolute;
  top: 60px;
  left: 240px;
}

#res_images_label {
  position: absolute;
  top: 60px;
  left: 160px;
}

#res_images {
  position: absolute;
  top: 60px;
  left: 130px;
}

#res_links_label {
  position: absolute;
  top: 60px;
  left: 55px;
}

#res_links {
  position: absolute;
  top: 60px;
  left: 25px;
}

#google_parse {
  position: absolute;
  top: 30px;
  left: 20px
}

#google_images_parse {
  position: absolute;
  top: 30px;
  left: 70px
}

#bing_images_parse {
  position: absolute;
  top: 30px;
  left: 165px
}

#tumblr_parse {
  position: absolute;
  top: 30px;
  left: 245px
}

#mobile_parse {
  background: #fff;
}

#clear_parse_button {
  position: absolute;
  top: 55px;
  left: 315px;
}

.spider_controls {
  display: none;
}

.back_to_options {
  position: relative;
  left: -30px;
  top: px;
  font-size: 20px;
}

#new_paint_fb {
  position: absolute;
  left: 385px;
  border: 1px solid black;
  width: 60px;
  height: 40px;
  top: 4px;
}

#mobile_paint_area {
  position: relative;
  border-top: 1px solid black;
  height: 460px;
  text-align: center;
  font-size: 9px;
}

.sliders {
  position: absolute;
  top: 85px;
  left: 10px;
}

.slider_container {
  width: 400px;
  margin: 5px 0;
}

#register {
  display: none;
}

#f_password {
  display: none;
}

.paint_over_composite {
  position: absolute;
  left: 0;
  top: 0;
}

.fb-login-button {
  position: relative;
  top: 10px;
  left: 20px;
}

#flipbook_link {
  margin-left: 20px;
}